doctype html 
html(lang="ko")
    head    
        title #{pageTitle} | WeTube
        block scripts
    body 
        block content
        nav 
            block nav
        include partials/footer.pug